@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
$color-yellow: #f0e14a;
$color-blue: #3273dc;
$color-ligh-blue: #a9f3fd;
$color-pink: #e89ac7;


* {
  font-family: 'Creepster', cursive;
  color: $color-blue;
  h2.title, h4.title, h1.title {
    color:$color-blue;
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
  }
  p.color {
    padding-top: 5px;
    background-color: $color-yellow;
  }
  
}

section, html, body, .bc-color {
  height: 100%;
  background-color: $color-ligh-blue;
  section.section {
    justify-content: flex-end;
    div.container {
      text-align: center;
      // margin-top: 4%;
    }
  }
  nav.navbar {
    background-color: #97ce4c;
    &:hover {
      background-color: $color-pink;
    }
  }
}

button.button {
  background-color: $color-pink;
  color: $color-blue;
  font-family: 'Creepster', cursive;
  position: fixed;
  right: 0;
  bottom: 0;
  &:hover {
    background-color: #97ce4c;
    transform: scale(1.5);
  }
}

.select select:not([multiple])  {
  margin-top: 5%;
  background-color: $color-pink;
}

div.card, div.home-image {
  width: 180px;
}
div.margin-top {
  margin-top: 1.7%;
}

img.yellow-border {
  border: 4px solid $color-yellow;
  border-radius: 50%;
}

div.random-columns {
  justify-content: center;
  align-items: center;
}

div.random-container {
  margin-top: 8%;
}

div.random-text {
  border: 1px solid $color-pink;
  border-radius: 10px;
  background-color: $color-yellow;
  padding: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}

div.random-text p {
  margin-top: -20px;
}

div.navbar-item a {
  letter-spacing: 1px;
  font-size: 20px;
}

h1.title {
  margin-top: 10px;
  margin-bottom: 60px;
}

div.character-index-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-index-paragraph {
  padding-top: 15px;
}

select.select-width {
  width: 160px;
}

form h3 {
  font-size: 20px;
  letter-spacing: 0.1rem;
  margin-bottom: 10px;
}



