@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
  font-family: 'Creepster', cursive;
}

p.hover {
  background-color: #f0e14a;

}

section, html, body, .bc-color {
  height: 100%;
  background-color: #a9f3fd;
}

nav.navbar {
  background-color: #97ce4c;
  &:hover {
    background-color: #e89ac7;
  }
}

section.section {
  justify-content: flex-end;
}

button.button {
  background-color: #e89ac7;
  font-family: 'Creepster', cursive;
  position: fixed;
  right: 0;
  bottom: 0;
  &:hover {
    background-color: #97ce4c;
    transform: scale(1.5);
  }
}

.select select:not([multiple])  {
  margin-top: 5%;
  background-color: #e89ac7;
}

div.card, div.home-image {
  width: 180px;
}
div.margin-top {
  margin-top: 2.5%;
}

img {
  border: 4px solid #f0e14a;
  border-radius: 50%;
}

div.random-columns {
  border: 1px solid red;
  justify-content: center;
}

.random-section {
  margin-top: 50px;
}




