@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
  font-family: 'Creepster', cursive;
  
}

body, .bc-color {
  height: 100vh;
  background-color: #a9f3fd;
}

nav.navbar {
  background-color: #97ce4c;
}

nav.navbar:hover {
  background-color: #e89ac7;
}


button {
  color: brown;
}

figure {
  width: 180px;
}

h1 {
  color: black;
}

